 @font-face {
    font-family: Karla;
    src: url('./assets/fonts/static/Karla-Regular.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: Karla;
    src: url('./assets/fonts/static/Karla-Bold.ttf');
    font-weight: bold;
  } 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --light-green: hsl(148, 38%, 91%);
    --medium-green: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 56%);

    --white: hsl(0, 0%, 100%);
    --medium-grey: hsl(186, 15%, 59%);
    --dark-grey: hsl(187, 24%, 22%);
}

body {
    font-family: "Karla", sans-serif;
    font-size: 14px; 
    font-weight: normal;
    font-style: normal;
    min-height: 100vh;
    min-width: 95vw;
    background-color: var(--light-green);
}

#contact-card {
    background-color: var(--white);
    margin: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    max-width: 95vw;
}

h1 {
    color: var(--dark-grey);
    margin-bottom: 1.25rem;
    font-size: 16px;
    font-weight: bold;
  }

h2 {
    color: var(--white);
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }


p {
    margin-top: 1.2rem;
    color: var(--dark-grey);
}

#success-message p {
    color: var(--white);
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.field__card {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
} 

.form-alert {
    display: none;
    color: var(--red);
  }


label {
    color: var(--dark-grey);
}


input[type="text"],
input[type="email"],
textarea, 
.radio-option-general,
.radio-option-support {
    width: 100%;
    padding: .8rem .9rem;
    border: 1px solid var(--medium-grey);
    border-radius: .35rem;
}

input[type="text"]:hover,
input[type="email"]:hover {
    cursor: pointer;
}
 
.radio-option-general:hover,
.radio-option-support:hover {
    cursor: pointer;
    background-color: var(--light-green);
}

input[type="text"],
input[type="email"],
input[type="checkbox"],
textarea {
    margin-top: .8rem;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--medium-green);
  border: 1px solid var(--medium-green);
}

input[type="text"].form-error,
input[type="email"].form-error {
  border: 1px solid var(--red);
}

input[type="checkbox"] {
    accent-color: var(--medium-green);
}

input[type="radio"] {
    accent-color: var(--medium-green);
    background-color: var(--medium-green);
    outline: 1 solid var(--medium-green);
}

.check-consent__field {
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
    align-items: center;
    justify-content: start;
    margin-top: 1.3rem;
   /*  margin-bottom: 1.5rem; */
}

.check-consent__field #consent {
    width: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

  .submit-btn {
    background-color: var(--medium-green);
    color: var(--white);
    width: 100%;
    padding: .75rem;
    margin-top: 0.8rem;
    border: 0;
    outline: 0;
    border-radius: .35rem;
  }

  #success-message {
    display: none;
    background-color: var(--dark-grey);
    color: var(--light-green);
    width: 24rem;  /* 70% */
    padding: 1rem;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: .60rem;
  }

  .success-message .message-header {
    color: var(--white);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: start; 
    gap: .5rem;
  }
  
 /* #success-message.visible {
    display: block;
  }  */

  @media only screen and (min-width: 768px) {
    body {
        min-height: 100vh;
        display: grid;
        place-content: center;
    }

    #contact-card {
        margin: 0 0.6rem O.6rem 0.6rem;
        padding: 1.4rem 1.4rem 1.4rem 2rem;
        max-width: 42vw;
    }

    h1 {
        margin-bottom: 0.6rem;
      }

    p {
        margin-top: 0.2rem;
    } 

    .name__card,
    .query__card {
        display: flex;
        flex-direction: row;
        gap: 1.5rem; 
    }

    input[type="text"],
    input[type="email"],
    textarea, 
    .radio-option-general,
    .radio-option-support {
            padding: .6rem .6rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="checkbox"],
    textarea {
        margin-top: .4rem;
    }
    .check-consent__field {
        gap: 1.2rem;
        margin-top: 0.8rem;
        /* margin-bottom: 1rem; */
    }
    
    #success-message {
        padding: 1rem;
      }
    
    .success-message .message-header {
        margin-bottom: 0;
        /* gap: .3rem; */
    }
}
